<ion-view view-title="Chats">
  <ion-content>
    
      
      
      
      
      
     

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Search your favourites" ng-model="search">
    </label>
    <button class="button button-small">
      Submit
    </button>
  </div>


      
      
      
      
      
    <ion-list>
        <div class="w3-card-12">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="data in datas | filter:search" type="item-text-wrap" href="#/tab/chats/{{data.author[0].id}}">
        <img ng-src="{{data.images[0].url}}">
        <h2>{{data.title}}</h2>
      
          
          
    <div class="w3-container w3-white"><br>
    <p> test data </p> 
    </div> 
          
          
          
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
            </div>
    </ion-list>
  </ion-content>
</ion-view>

<!--
<div class="w3-card-12" style="width:60%;" ng-repeat="data in datas | filter:search"><br>
  <img src="{{data.images[0].url}}" alt="Sorry! No preview Available" style="width:100%">
<div class="w3-container w3-white"><br>
    <p>  {{data.title}} </p> 
    
   
</div>    </div>
-->