<!--
  Generated template for the Favourites page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>
      <h1 class="app-title">
        Lyrichords
      </h1>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<button ion-button (click) = "serverDataCall()" > get lyrics</button>
<ion-grid *ngIf="lyrics && lyrics.items">
           <ion-row *ngFor="let data of lyrics.items">
            <ion-col col-12>
             <h1>{{data.title}}</h1>
            </ion-col>
            <div [innerHTML]="data.content"> </div>

           </ion-row>
         </ion-grid>

</ion-content>
