<ion-header>
  <ion-navbar>
    <ion-title text-center>
      <h1 class="app-title">
        LyRICHORDS
      </h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">



  <ion-card *ngFor="let lyricsData of lyricsDatas; let i = index;"
  class="card-md-home">
    <!--     <img src="../../assets/images/bg{{i}}.jpg"/>
 -->
    <ion-grid [ngClass]="{
      style0: (i%5) === 0,
      style1: (i%5) === 1,
      style2: (i%5) === 2,
      style3: (i%5) === 3,
      style4: (i%5) === 4}">
      <ion-row>

        <ion-col col-1 (click)="searchLyrics(lyricsData)">
          <ion-icon name="md-musical-note" class="music-note"></ion-icon>
        </ion-col>

        <ion-col col-9 (click)="searchLyrics(lyricsData)">
          <h1 text-left class="card-title">{{ lyricsData.artist }}</h1>
          <h3 text-left class="card-subtitle"> {{ lyricsData.song }}</h3>
        </ion-col>
        <!-- <ion-col col-sm-1>
          <button ion-button large class="arrow-btn">
            <ion-icon name="arrow-dropright"></ion-icon>
          </button>
        </ion-col> -->
        <ion-col col-1>
          <!-- <button ion-button large class="arrow-btn" color = light> -->
          <ion-icon
          name="heart"
          class="hearT"
          (click) = "makeFav(lyricsData)"
          ></ion-icon>
          <!-- </button> -->
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <div class="card-footer">
            <ion-grid>
                <ion-row>
                    <ion-col width-50 text-left>
                        <button ion-button>Test</button>
                    </ion-col>
                    <ion-col width-50 text-right>
                        <button ion-button>Test</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div> -->




  </ion-card>

</ion-content>










<!-- <ion-card *ngFor="let lyricsData of lyricsDatas">
    <div class="card-title"> {{ lyricsData.artist }} </div>
    <div class="card-subtitle"> {{ lyricsData.song }} </div>
	  <button ion-button (click) = "searchLyrics(lyricsData)" color="dark" round >	Search for Lyrics</button>
	   <ion-icon name="heart"></ion-icon>
 	</ion-card>
 -->
