<ion-header>
  <ion-navbar>
    <ion-title text-center>
      <h1 class="app-title">
        LyRICHORDS
      </h1>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <div id="card-body" *ngIf="lyrics && lyrics.items">
    <ion-card *ngFor="let data of lyrics.items; let i = index;" class="card-md-home">
      <ion-grid [ngClass]="{
          style0: (i%5) === 0,
          style1: (i%5) === 1,
          style2: (i%5) === 2,
          style3: (i%5) === 3,
          style4: (i%5) === 4}">
        <ion-row>
          <ion-col col-1 (click)="searchLyrics(data)">
            <ion-icon name="md-musical-note" class="music-note"></ion-icon>
          </ion-col>
          <ion-col col-9 (click)="searchLyrics(data)">
            <h1 text-left class="card-title">{{ data.title }}</h1>
          </ion-col>
          <ion-col col-1>
            <ion-icon name="heart" class="hearT" (click)="makeFav(data)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
