@import url('https://fonts.googleapis.com/css?family=Oswald|Ubuntu');

.toolbar-background{
	background-color:transparent;
}


.toolbar-md{
	min-height:75px;
}

.fixed-content{
	/*	background-color:#000; */
}

.tab-button{
background-color: transparent;
}

.app-title{
font-family: 'Ubuntu', sans-serif;
font-size: 1.5em;
color: black;
}
