@import url('https://fonts.googleapis.com/css?family=Oswald|Ubuntu');

.toolbar-background{
	background-color:black;
}


.toolbar-md{
	min-height:75px;
}

.fixed-content{
	/*	background-color:#000; */
}

.tab-button{
background-color: black;
}

.card-md{
	margin:0px 0px 0px 0px;
	width:100%;
	border-radius: 0px;
	box-shadow: none;
}
