@import url( 'https://fonts.googleapis.com/css?family=Roboto');


page-details {
  .details-page {
    //background: linear-gradient(to bottom right, black, red);
    background-image: url('../assets/images/bg5.png');
    margin: 0;
    width: 100%;

  }

  .details-card{
    margin: 0;
  	width: 100%;
    height: inherit;
  	border-radius: 0;
  	box-shadow: none;
  }

  .details-card{

      .details-title{

        font-size: 25px;
        color: red;
        font-weight: bold;
      }

    .song-details{
      margin-left: 20px;
      margin-bottom: 20px;
      font-size: 20px;
      color:black;
      font-family: 'Roboto', sans-serif;

    }

    .hr-dash{

    }

  }

}
